@import './base.css';

.wrapper {
  max-width: 1280px;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  display: flex;
  flex-direction: column;
}

.title_container {
  width:100%;
  height:10%;
  text-align: center;
  padding-bottom: 5px;
  padding-top: 5px;
  border-bottom: 1px solid var(--color-border);
}

.content_container {
  width:100%;
  height:100%;
  display: flex;
}

.left_container {
  width:15%;
  height:100%;
  margin-right: 10px;
  border-right: 2px solid var(--color-border);
}

.main_container {
  width:85%;
  height:100%;
}
#app {
  max-width: 1280px;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: inline;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
